.padre {
  display: flex;
  /* justify-content: center; */
  /* background-image: url('https://img.freepik.com/foto-gratis/equipo-videojuegos-futurista-iluminado-ia-generativa-discoteca_188544-32105.jpg?w=740&t=st=1686659192~exp=1686659792~hmac=05810c11b506e17cb5ade918cc1c2bed87a142c2ba5f7d4fad02922c6c9bd808'); */
  background-image: url('https://png.pngtree.com/background/20230522/original/pngtree-desk-with-several-video-game-consoles-on-top-picture-image_2695069.jpg');
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}
.card{
  text-align: center;
  /* margin-top: 20px; */
  background-color: rgba(60, 57, 66, 0.439);
  width: 100vh;
  height: 80vh;
  padding: 20px;
  /* box-sizing: border-box; */
  border-radius: 50px;
  font-family: 'arial', cursive;
  font-size: .8rem;
  box-shadow: 10px 10px 5px 0px rgba(9, 6, 6, 0.75);
  text-shadow: 8px 8px 4px black, 0 0 22px grey ;
  color: white ;
  
}

.todoinput {
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}


.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 3px;
}

.button:before {
  content: "";
  background: linear-gradient(
    60deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowbutton 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowbutton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:active {
  color: #000;
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #625555;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.button {
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  /* Estilos específicos para pantallas más pequeñas */
  .landing {
    font-size: 14px;
    height: 100%;
  }
}
